/* .body{
    margin-left: 100px;
} */
.gems{
    height: 250px;
    width: 250px;
}
/* set heads and instructions */

/* format page */

/* set height/width for images */

/* .gem-images {
    width: 350px;
    height: 350px;
} */
/* set counter box */


/* set wins and loss boxes */

