.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}




/* .body{
    margin: auto;
    background-color: lightpink;
} */

/* set heads and instructions */

/* format page */

/* set height/width for images */


/* set counter box */


/* set wins and loss boxes */

